$darkgrey: #282828;
$red: #cc241d;
$green: #98971a;
$yellow: #d79921;
$blue: #458588;
$purple: #b16286;
$aqua: #689d6a;
$grey: #a89984;
$white: #ebdbb2;

.container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: overlay;
    z-index: 1;
    user-select: none;
}

.title-text {
    font-size: 80pt;
    margin-top: 8vh;
    margin-bottom: 8vh;
    margin-left: 6vw;
    color: $white;
    z-index: 1;
}

.playlist-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
